# 忽略该文件夹下的内容上传
knowledge_base/private/vector_store
knowledge_base/wiki/vector_store
knowledge_base/test/vector_store

# 忽略所有__pycache__目录
__pycache__/


# Ignore environment files
.env

# Ignore log files
*.log