# fastapi依赖
executing==2.0.1
asttokens==2.4.1
six==1.16.0
blinker>=1.6.2
fastapi==0.111.0

# langchain依赖
langchain==0.2.7
langchain_community==0.2.7
langchain_openai==0.1.15


loguru==0.7.2
zhipuai==2.1.2
fastchat==0.1.0
asyncmy==0.2.9
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
sse_starlette==2.1.2
charset-normalizer==3.1.0
shortuuid==1.0.13

fschat==0.2.36
transformers==4.42.4
psutil==6.0.0
accelerate==0.32.1
sentencepiece==0.2.0

passlib==1.7.4