# fastapi依赖
executing==2.0.1
asttokens==2.4.1
six==1.16.0
blinker>=1.6.2
fastapi==0.111.0

# langchain依赖
langchain==0.2.7
langchain_community==0.2.7
langchain_openai==0.1.15
langchain-chroma==0.1.1
langchainhub==0.1.20

chromadb==0.5.3
loguru==0.7.2
zhipuai==2.1.2
# fastchat==0.1.0
asyncmy==0.2.9
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
sse_starlette==2.1.2
charset-normalizer==3.1.0
shortuuid==1.0.13
fschat==0.2.35
transformers==4.37.2
psutil==6.0.0
accelerate==0.32.1
sentencepiece==0.2.0
passlib==1.7.4
pydantic==1.10.13
bs4==0.0.2
httpx-sse==0.4.0
pymysql==1.1.1
unstructured[all-docs]==0.11.8
sentence-transformers==2.2.2
faiss-cpu==1.8.0
wikiextractor==0.1
spacy==3.7.5
PyPDF2==3.0.1
llama_index==0.10.55
datasets==2.20.0
html2text==2024.2.26
strsimpy==0.2.1
markdownify==0.13.1
pymilvus==2.4.4
pymupdf4llm==0.0.9
